.messages {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-right: -7px;
  margin-left: -7px;
}

.messageBtn {
  width: 100%;
  max-width: 300px;
  min-height: 140px;
  margin: 7px;
  border: 2px solid transparent;
  background-color: var(--gray-300);
  padding: 20px;
  color: var(--black);
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.15s linear, background-color 0.15s linear;
}

.messageBtn:hover {
  border-color: var(--red);
}

.messageBtn:active {
  background-color: var(--gray-400);
}
